d2/XmlDemo/src/main/java/com/hcl/xml/Emp.dtd

<!ELEMENT EMPS (EMP)+>
<!ELEMENT EMP (EMPNO,NAME,BASIC)>
<!ELEMENT EMPNO (#PCDATA)>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT BASIC (#PCDATA)>
<!ATTLIST EMP  EMPNO #REQUIRED CATEGORY (1|10) "1">
<!ATTLIST EMP NAME #IMPLIED CATEGORY (POORNESH|SAITEJA|SOWMYA) "POORNESH">
<!ATTLIST EMP BASIC #REQUIRED CATEGORY (1000|50000) "1000">